<KrossScripting>
	<collection name="file" text="File">
		<script name="dummy_script"
			text="Dummy Script"
			comment="Dummy Script example"
			interpreter="python"
                        enabled="true"
			file="dummy_script.py" />
	</collection>
</KrossScripting>
