<KrossScripting>
	<collection name="project" text="Project">
		<script text="Create new project" comment="Fires up"
			name="new-project-wizard"
			interpreter="python"
                        enabled="true"
			file="new-project-wizard.py" />
	</collection>
</KrossScripting>

