<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ProjectOverview" version="56">
<MenuBar>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_find"/>
  </Menu>
</MenuBar>
</kpartgui>
