<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ProjectOverview" version="3">
<MenuBar>
  <Menu name="go"><text>&amp;Go</text>
    <Action name="go_prev_fuzzyUntr"/>
    <Action name="go_next_fuzzyUntr"/>
    <Action name="go_prev_fuzzy"/>
    <Action name="go_next_fuzzy"/>
    <Action name="go_prev_untrans"/>
    <Action name="go_next_untrans"/>
    <Separator/>
    <Action name="go_prev_templateOnly"/>
    <Action name="go_next_templateOnly"/>
    <Action name="go_prev_transOnly"/>
    <Action name="go_next_transOnly"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="project_open"/>
  <Separator/>
  <Action name="go_prev_fuzzyUntr"/>
  <Action name="go_next_fuzzyUntr"/>
</ToolBar>
</kpartgui>
