[Desktop Entry]
Encoding=UTF-8
Name=KAider
Name[sv]=Kaider
Exec=kaider %i -caption "%c"
Icon=kaider
Type=Application
DocPath=kaider/kaider.html
GenericName=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Uma Aplicação do KDE4
GenericName[sv]=Ett KDE4-program
GenericName[zh_TW]=KDE4 應用程式
Terminal=0

