[Desktop Entry]
Name=KAider
Exec=kaider %i -caption "%c"
Icon=kaider
Type=Application
Categories=Qt;KDE;Translation;Development;
DocPath=kaider/index.html
GenericName=Computer-aided translation system
Terminal=0

