<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KAider" version="1">
<MenuBar>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_toggle_fuzzy"/>
    <Action name="msgid2msgstr"/>
    <Action name="unwrapmsgstr"/>
  </Menu>
  <Menu name="go_document"><text>&amp;Go</text>
    <Action name="go_goto"/>
    <Separator/>
    <Action name="go_first"/>
    <Action name="go_last"/>
    <Separator/>
    <Action name="go_prev_fuzzyUntr"/>
    <Action name="go_next_fuzzyUntr"/>
    <Action name="go_prev_fuzzy"/>
    <Action name="go_next_fuzzy"/>
    <Action name="go_prev_untrans"/>
    <Action name="go_next_untrans"/>
  </Menu>
  <Menu name="project"><text>&amp;Project</text>
    <Action name="project_open"/>
    <Action name="project_create"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Menu name="toolviews"><text>&amp;Toolviews</text>
        <Action name="showmsgiddiff_action" />
        <Action name="showprojectview_action" />
        <Action name="showmergeview_action" />
    </Menu>
  </Menu>
</MenuBar>
</kpartgui>
