<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KAider" version="39">
<MenuBar>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_toggle_fuzzy"/>
    <Action name="msgid2msgstr"/>
    <Action name="unwrapmsgstr"/>
    <Action name="edit_clear"/>
    <Action name="edit_tagmenu"/>
    <Menu name="glossary"><text>Glossary</text>
        <Action name="glossary_define"/>
        <Separator/>
        <Action name="glossary_insert_0"/>
        <Action name="glossary_insert_1"/>
        <Action name="glossary_insert_2"/>
        <Action name="glossary_insert_3"/>
        <Action name="glossary_insert_4"/>
        <Action name="glossary_insert_5"/>
        <Action name="glossary_insert_6"/>
        <Action name="glossary_insert_7"/>
        <Action name="glossary_insert_8"/>
        <Action name="glossary_insert_9"/>
        <Action name="glossary_insert_10"/>
        <Action name="glossary_insert_11"/>
        <Action name="glossary_insert_12"/>
        <Action name="glossary_insert_13"/>
        <Action name="glossary_insert_14"/>
        <Action name="glossary_insert_15"/>
        <Action name="glossary_insert_16"/>
        <Action name="glossary_insert_17"/>
        <Action name="glossary_insert_18"/>
        <Action name="glossary_insert_19"/>
        <Action name="glossary_insert_20"/>
    </Menu>
    <Menu name="webquery"><text>WebQuery</text>
        <Action name="webquery_do"/>
        <Separator/>
        <Action name="webquery_insert_0"/>
        <Action name="webquery_insert_1"/>
        <Action name="webquery_insert_2"/>
        <Action name="webquery_insert_3"/>
        <Action name="webquery_insert_4"/>
        <Action name="webquery_insert_5"/>
        <Action name="webquery_insert_6"/>
        <Action name="webquery_insert_7"/>
        <Action name="webquery_insert_8"/>
        <Action name="webquery_insert_9"/>
        <Action name="webquery_insert_10"/>
        <Action name="webquery_insert_11"/>
        <Action name="webquery_insert_12"/>
    </Menu>
    <Menu name="tmquery"><text>Translation Memory</text>
        <Action name="tmquery_do"/>
        <Separator/>
        <Action name="tmquery_insert_0"/>
        <Action name="tmquery_insert_1"/>
        <Action name="tmquery_insert_2"/>
        <Action name="tmquery_insert_3"/>
        <Action name="tmquery_insert_4"/>
        <Action name="tmquery_insert_5"/>
        <Action name="tmquery_insert_6"/>
        <Action name="tmquery_insert_7"/>
        <Action name="tmquery_insert_8"/>
        <Action name="tmquery_insert_9"/>
        <Action name="tmquery_insert_10"/>
        <Action name="tmquery_insert_11"/>
        <Action name="tmquery_insert_12"/>
    </Menu>
  </Menu>
  <Menu name="go_document"><text>&amp;Go</text>
    <Action name="go_goto"/>
    <Separator/>
    <Action name="go_first"/>
    <Action name="go_last"/>
    <Separator/>
    <Action name="go_prev_fuzzyUntr"/>
    <Action name="go_next_fuzzyUntr"/>
    <Action name="go_prev_fuzzy"/>
    <Action name="go_next_fuzzy"/>
    <Action name="go_prev_untrans"/>
    <Action name="go_next_untrans"/>
  </Menu>
  <Menu name="project"><text>Project</text>
    <ActionList name="project_actions" />
<!--
    <Action name="project_configure"/>
    <Separator/>
    <Action name="project_open"/>
    <Action name="project_create"/>
-->
  </Menu>
  <Menu name="merge"><text>Merge</text>
    <Action name="merge_open"/>
    <Separator/>
    <Action name="merge_prev"/>
    <Action name="merge_next"/>
    <Separator/>
    <Action name="merge_accept"/>
    <Action name="merge_acceptnew"/>
  </Menu>
  <Menu name="bookmarks"><text>Bookmarks</text>
    <Action name="bookmark_prior"/>
    <Action name="bookmark_next"/>
  </Menu>
  <Menu name="tools"><text>&amp;Tools</text>
    <Separator/>
    <Action name="tools_glossary"/>
    <Separator/>
    <Action name="tools_tm"/>
    <Action name="tools_tm_batch"/>
    <Action name="tools_tm_batch_fuzzy"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Menu name="toolviews"><text>Toolviews</text>
        <Action name="showmsgiddiff_action" />
        <Action name="showprojectview_action" />
        <Action name="showmergeview_action" />
        <Action name="showmsgctxt_action" />
        <Action name="showcatalogtreeview_action" />
        <Action name="showglossaryview_action" />
        <Action name="showwebqueryview_action" />
        <Action name="showtmqueryview_action" />
    </Menu>
  </Menu>
</MenuBar>
</kpartgui>
