[Desktop Entry]
Name=lokalize
Exec=lokalize %i -caption "%c"
Icon=lokalize
Type=Application
Categories=Qt;KDE;Translation;Development;
DocPath=lokalize/index.html
GenericName=Computer-aided translation system
Terminal=0

