[Desktop Entry]
Name=Lokalize
Exec=lokalize %i -caption "%c"
Icon=lokalize
Type=Application
Categories=Qt;KDE;Translation;Development;
DocPath=lokalize/index.html
GenericName=Computer-aided translation system
GenericName[el]=Σύστημα μετάφρασης υποβοηθούμενο από τον υπολογιστή
GenericName[es]=Sistema de traducción asistida por ordenador
GenericName[ga]=Córas aistriúcháin ríomhchuidithe
GenericName[km]=ប្រព័ន្ធ​បកប្រែ​ដែល​មានជំនួយ​ដោយ​កុំព្យូទ័រ
GenericName[pt]=Sistema de traduções auxiliado pelo computador
GenericName[pt_BR]=Sistema de traduções auxiliado pelo computador
GenericName[tr]=Bilgisayar destekli çeviri sistemi
GenericName[wa]=Sistinme di ratournaedje aidî pal copiutrece
GenericName[zh_TW]=電腦協助翻譯系統
Terminal=0

