[Desktop Entry]
Name=Lokalize
Name[pa]=ਲੋਕਾਲਾਈਜ਼
Name[sr]=Локализуј
Name[sr@latin]=Lokalizuj
Name[x-test]=xxLokalizexx
Exec=lokalize %i -caption "%c"
Icon=lokalize
Type=Application
Categories=Qt;KDE;Development;Office;Translation;
X-DocPath=lokalize/index.html
GenericName=Computer-Aided Translation System
Terminal=false

