[Desktop Entry]
Name=Lokalize
Name[ast]=Lokalize
Exec=lokalize %F
Icon=lokalize
Type=Application
Categories=Qt;KDE;Development;Office;Translation;
MimeType=application/x-xliff;text/x-gettext-translation;application/x-lokalize-project;
X-DocPath=lokalize/index.html
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.lokalize
GenericName=Computer-Aided Translation System
GenericName[ast]=Sistema de traducción asistíu per ordenador
Terminal=false

